.card-front {
  height: 125px;
  width: 125px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

.card-back {
  height: 125px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
}

.card-image {
  width: 125px;
  height: 125px;
}
