.card-front {
  height: 150px;
  width: 150px;
  background-color: #43eb34;
  background-color: #7908fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;

}

.card-front:hover {
  cursor: pointer;
}

.card-back {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
}

.card-image {
  width: 150px;
}
