* {
  font-family: "Lobster", cursive, 'Century Gothic', CenturyGothic, AppleGothic;
}

.board {
  margin: auto auto;
  max-width: 750px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Lemonada', cursive;
  background-image: linear-gradient(to bottom right, #e62310, #009bd9, #44af35, #fccf00);
  background-color: #888;
  border-radius: 5%;
  margin-left: 340px;
}

.grid-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto auto auto auto;
  padding: 10px 150px 10px 150px;
}
.header {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.messages {
  display: flex;
  flex-direction: row;
}

.mainBody {
  max-width: 750px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.restartButton {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-left: 30px;
  color: #fff;
  font-family: "Lemonada", cursive;
}

.restartButton:focus {
  outline: none;
}

.start-button {
  display: center;
  background-color: orange;
  border-radius: 25%;
  padding: 5px;
  box-shadow: 5px 5px #888888;
  color: white;
  opacity: 0.5;
  transition: 0.3s;
}

.start-button:hover {opacity: 3; background-color: #ff3300}

.memory {
  color: #FE0002, #0001FC, #FFD987, #6A0400;
}

@keyframes spinIn {
  0% {
    transform: rotate(0deg);
    transform: scale(0.05, 0.05);
  }
  12.5% {
    transform: scale(0.125, 0.125);
    transform: rotate(90deg);
  }
  25% {
    transform: scale(0.25, 0.25);
    transform: rotate(180deg);
  }
  37.5% {
    transform: scale(0.375, 0.375);
    transform: rotate(270deg);
  }
  50% {
    transform: scale(0.5, 0.5); 
    transform: rotate(360deg);
  }
  62.5% {
    transform: scale(0.625, 0.625);
    transform: rotate(270deg);
  }
  75% {
    transform: scale(0.75, 0.75);
    transform: rotate(180deg);
  }
  87.5% {
    transform: scale(0.875, 0.875);
    transform: rotate(90deg);
  }
  100% {
    transform: scale(1, 1); 
    transform: rotate(0deg)
  }
}

@keyframes spinOut {
  0% {
    transform: rotate(0deg);
    transform: scale(0.05, 0.05);
  }
  12.5% {
    transform: scale(0.125, 0.125);
    transform: rotate(90deg);
  }
  25% {
    transform: scale(0.25, 0.25);
    transform: rotate(180deg);
  }
  37.5% {
    transform: scale(0.375, 0.375);
    transform: rotate(270deg);
  }
  50% {
    transform: scale(0.5, 0.5); 
    transform: rotate(360deg);
  }
  62.5% {
    transform: scale(0.625, 0.625);
    transform: rotate(270deg);
  }
  75% {
    transform: scale(0.75, 0.75);
    transform: rotate(180deg);
  }
  87.5% {
    transform: scale(0.875, 0.875);
    transform: rotate(90deg);
  }
  100% {
    transform: scale(1, 1); 
    transform: rotate(0deg)
  }
}

