.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.board {
  width: 770px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #656465;
  border-radius: 5px;
  padding: 20px 0px;
  box-shadow: 6px 6px 25px 0px rgb(44, 44, 44);
}
@media only screen and (max-width: 800px) {
  .board {
    width: 770px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #656465;
    border-radius: 5px;
    padding: 20px 0px;
    box-shadow: 6px 6px 25px 0px rgb(44, 44, 44);
    transform: scale(0.7)
  }
}
@media only screen and (max-height: 800px) {
  .board {
    width: 770px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #656465;
    border-radius: 5px;
    padding: 20px 0px;
    box-shadow: 6px 6px 25px 0px rgb(44, 44, 44);
    transform: scale(0.7)
  }
}
.statsWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Finger Paint";
}
.stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 45px;
}
h3{
  margin: 10px 20px;
}
.reset{
  height: 20px;
  cursor: pointer;
}
.lose{
  position: absolute;
  background-color: white;
  opacity: 0.4;
  border-radius: 5px;
  height: 696px;
  width: 770px;
  left: 0px;
  top: 174px;
  z-index: 3;
}
h2{
  position: absolute;
  font-family: "Finger Paint";
  font-size: 80px;
  color: red;
  opacity: 1;
  text-align: center;
  z-index: 3;
}
small{
  font-size: 20px;
}
.loseReset{
  position: absolute;
  z-index: 3;
  left: 230px;
  top: 350px;
}

.hide{
  display: none;
}